<% items.officeDetails[0].ParkingLocations.forEach(function (details) { %>
    <tr>
        <th style="color:rgb(0, 0, 0)">
            <%=details.LocationName %>
        </th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
    <tr style="background-color:#F7F59B">
        <td class="<%= details.AvailableTwoWheelerCount==0?'font-weight-bold blink_me':'font-weight-bold' %>" style="<%= details.AvailableTwoWheelerCount==0? 'color:rgb(27, 6, 146);font-size: large;background-color:#F77A58':'color:rgb(27, 6, 146);font-size: large;' %>" >Two Wheeler Space Available :</td>
        <td class="<%= details.AvailableTwoWheelerCount==0?'font-weight-bold blink_me':'font-weight-bold' %>" style ="<%= details.AvailableTwoWheelerCount==0? 'color:red;font-size: large;background-color:#F77A58':'color:darkgreen;font-size: large;' %>">
            <%= details.AvailableTwoWheelerCount %>
        </td>
        <td class="<%= details.AvailableFourWheelerCount==0?'font-weight-bold blink_me':'font-weight-bold' %>" style="<%= details.AvailableFourWheelerCount==0? 'color:rgb(27, 6, 146);font-size: large;background-color:#F77A58':'color:rgb(27, 6, 146);font-size: large;' %>">Four Wheeler Space Available :</td>
        <td class="<%= details.AvailableFourWheelerCount==0?'font-weight-bold blink_me':'font-weight-bold' %>" style ="<%= details.AvailableFourWheelerCount==0? 'color:red;font-size: large;background-color:#F77A58':'color:darkgreen;font-size: large;' %>">
            <%= details.AvailableFourWheelerCount %>
        </td>
    </tr>


    <%})%>