<br />
<br />
<div class="card">
    <div class="body table-responsive">
        <div class="container">
            <h5>
                Your Booked Reservations Requests (Top 5) :
            </h5>
            <table class="table table-striped table-bordered" style="width:100%">
                <thead style="font-weight: bold;">
                    <td>Reservation Id</td>
                    <td>Name</td>
                    <td>Reservation Date</td>
                    <!-- <td>Office Location</td> -->
                    <td>Parking Location</td>
                    <!-- <td>Vehicle Count</td> -->
                    <td>Vehicle Type</td>
                    <td>Status</td>
                    <td>Action</td>
                </thead>
                <tbody>
                    <% if(items.reservedDetails && (items.reservedDetails).length>0){ items.reservedDetails.forEach(function
                        (res){ %>
                        <tr>
                            <td class="font-weight-bold">
                                <%= res.uniqueId %>
                            </td>
                            <td class="font-weight-bold">
                                <%= res.employeeName %>
                            </td>
                            <td>
                                <%= res.reservationDate %>
                            </td>
                            <!-- <td>
                                <%= res.officeLocation %>
                            </td> -->
                            <td>
                                <%= res.parkingLocation %>
                            </td>
                            <!-- <td>
                                <%= res.vehicleCount %>
                            </td> -->
                            <td>
                                <%= res.vehicleType==0 ? "2Wheeler" : "4Wheeler" %>
                            </td>
                            <td style="color: darkgreen; font-size: large;font-weight: bold;">
                                <%= res.status %>
                            </td>
                            <td>
                                <button type="button" onclick="cancelReservation(<%= res.uniqueId  %>)"  class="btn btn-danger">Cancel</button>
                            </td>
                        </tr>
                        <%})} %>
                </tbody>
            </table>
            <br />
            <h5 class="text-success">Parking Reservation Form : </h5>
            <table id="parking_info_tbl_res" class="table table-striped table-bordered" style="width:100%">
                <tbody>
                    <tr>
                        <th style="font-size: 20px;" class="text-primary">Select LTIMindtree Location : </th>
                        <th><select class="form-select form-control" id="location_ddl_res"
                                aria-label="Default select example"
                                onchange="locationSelectionUpdatedForRes(this,'<%= JSON.stringify(items.officeData)  %>')">
                                <% items.officeData.forEach(function (location) { %>
                                    <option value='<%= location.OfficeLocation %>'>
                                        <%= location.OfficeLocation %>
                                    </option>
                                    <%})%>
                            </select></th>
                    </tr>
                    <tr>
                        <td style="font-size: 20px;font-weight: bold;" class="text-primary">Select Parking Location :
                        </td>
                        <td><select class="form-select form-control" id="parking_location_ddl_res"
                                aria-label="Default select example"
                                onchange="parkingSelectionChangedForRes(this,'<%= JSON.stringify(items.officeData)  %>')">
                                <% items.officeData[0].ParkingLocations.forEach(function (parking) { %>
                                    <option value='<%= parking.LocationId %>'>
                                        <%= parking.LocationName %>
                                    </option>
                                    <%})%>
                            </select></td>
                    </tr>
                </tbody>
            </table>
            <table id="reservations_add_tbl" class="table table-striped table-bordered" style="width:100%">
                <tbody>
                    <thead style="font-weight: bold;">
                        <td>Date</td>
                        <td>Name</td>
                        <td>Vehicle Count</td>
                        <td>Vehicle Type</td>
                        <td>Action</td>
                    </thead>
                    <tr>
                        <td>
                            <input type='date' class="form-control" id="res_date" placeholder="Select the date." />
                        </td>
                        <td>
                            <input type="text" class="form-control" id="res_empName" placeholder="Enter the Name">
                        </td>
                        <td>
                            <input type="Number" class="form-control" id="res_vehicleCount" min=1 value=1 disabled>
                        </td>
                        <td>
                            <select class="form-select form-control" id="res_vehicleType"
                                aria-label="Default select example">
                                <option value=0 selected>2Wheeler</option>
                                <option value=1>4Wheeler</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" onclick="submitReservationRequest()" id="btnResSubmit"
                                class="btn btn-primary">Reserve</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>