<br />
<br />
<div class="d-flex justify-content-between">
    <h1 class="commanHeading">Pending WorkLists :<b>
        </b></h1>
</div>
<br />
<div class="card">
    <div class="body table-responsive">
        <table id="user_tbl" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr class="font-weight-bold">
                    <th>Request Id</th>
                    <th>Reservation Date</th>
                    <th>Office</th>
                    <th>Requested By</th>
                    <th>Count</th>
                    <th>Type</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% if(items.workLists && items.workLists.length>0){ items.workLists.forEach(function
                    (res){ %>
                    <tr>
                        <td style="color: blue;">
                            <a style="cursor: pointer;" data-toggle="modal" data-target="#requestDetailsModal" onclick="bindReservationData('<%= JSON.stringify(res)  %>')"> <%= res.uniqueId %></a>
                            
                        </td>
                        <td>
                            <%= res.reservationDate %>
                        </td>
                        <td>
                            <%= res.officeLocation %>
                        </td>
                        <td>
                            <%= res.requestedBy %>
                        </td>
                        <td>
                            <%= res.vehicleCount %>
                        </td>
                        <td>
                            <%= res.vehicleType==0 ? "2Wheeler" : "4Wheeler" %>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" onclick="executeReservation('<%= JSON.stringify(res._id)  %>',1)">Approve</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="executeReservation('<%= JSON.stringify(res._id)  %>',0)">Reject</button>
                        </td>
                    </tr>
                    <%})} else { %>
                        <h5 style="color: brown;"> No pending request found.</h5>
                        <% } %>
        </table>

        <div class="modal fade" id="requestDetailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Details for : <label id="lblRequestId"></label> </h4>
                    </div>
                    <div class="modal-body">
                        <table id="worklist_info_details" class="table table-striped table-bordered" style="width:100%">
                            <tr>
                                <th class="text-success">
                                    Requested Date :
                                </th>
                                <th>
                                    <input type="text" id="modTxtRequestedDate" disabled  class="text-success"/>
                                </th>
                            </tr>
                            <tr>
                                <th class="text-success">
                                    Office Location :
                                </th>
                                <th>
                                    <input class="text-success" type="text" id="modTxtOffice" disabled />
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Parking Location :
                                </th>
                                <th>
                                    <input type="text" id="modTxtParkingLoc" disabled/>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Requested By :
                                </th>
                                <th>
                                    <input type="text" id="modTxtRequestedBy" disabled />
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Created Date :
                                </th>
                                <th>
                                    <input type="text" id="modTxtCreatedDate" disabled />
                                </th>
                            </tr>
                            <tr>
                                <th class="text-danger">
                                    Vehicle Type :
                                </th>
                                <th>
                                    <input class="text-danger" type="text" id="modTxtVehicleType" disabled />
                                </th>
                            </tr>
                            <tr>
                                <th class="text-danger">
                                    Vehicle Count :
                                </th>
                                <th>
                                    <input class="text-danger" type="text" id="modTxtVehicleCount" disabled />
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Guest Name :
                                </th>
                                <th>
                                    <input type="text" id="modTxtGuestName" disabled style="word-wrap: break-word;" />
                                </th>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>